/* --------------------------- GLOBAL --------------------------- */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupar toda la altura de la ventana */
}

.top-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
}

.bottom-section {
    flex: 1; /* Ocupar el espacio restante */
    background-color: #d0d0d0;
}

/* --------------------------- FECHA --------------------------- */
.fecha {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;    
    font-weight: 700;
    height: 100%;
}

.dia-numero, .mes, .anio {
    text-align: center;    
    font-size: 50px !important;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 33.33%; /* Para que cada parte ocupe igual espacio */
}

.dia-numero {
    background-color: #f95a25;
    color: white;
}

.mes {
    background-color: #ffa73b;
    color: black;
}

.anio {
    background-color: #ffeb3b;
    color: black;
}

/* --------------------------- HORA --------------------------- */
.hora {
    width: 66.66%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    padding: 10px;
    font-weight: 700;
}

.calendario {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Ajusta el tamaño de la tabla del calendario */
.calendario table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.diasDelMes {
    max-height: 50vh; /* Establecer una altura máxima para la tabla de días */
    overflow-y: auto; /* Permitir desplazamiento solo en la tabla */
    width: 100%; /* Asegúrate de que ocupa todo el ancho */
}

.no-scroll {
    overflow: hidden; /* Evita el desplazamiento en el body */
}

.calendario th, .calendario td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.calendario td.dia-actual {
    background-color: #f95a25;
    color: white;
}

/* Estilo para la sección del mes y año del calendario */
.mes-anio {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
    margin-bottom: 10px;
}

/* --------------------------- CLIMA --------------------------- */
.clima-container {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

.clima-rectangulo {
    flex: 1;
    border: 1px solid #999;
    padding: 10px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

#clima-actual {
    border: 2px solid #000; /* Borde más grueso para el rectángulo actual */
    font-weight: bold;
}

#weather-icon {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* --------------------------- CARRUSEL --------------------------- */
.clima-y-carousel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.carousel, .clima {
    width: 50%;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-items {
    display: flex;
    overflow-x: auto;
}

.carousel-item {
    min-width: 200px;
    margin-right: 10px;
    padding: 0px;
    background-color: #ececec;
    border-radius: 5px;
    text-align: center;
}

/* Estilos adicionales */
.carousel {
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item {
    display: none;
    text-align: center;
}

.liga {
    font-weight: bold;
    margin-bottom: 10px;
}

.boton-cambiar-vista {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #f95a25;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
