<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Fecha y Hora</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'display/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Sección superior con la fecha y la hora -->
        <div class="top-section">
            <div class="fecha">
                <button class="boton-cambiar-vista" id="botonCambiarVista"></button>
                <div class="vista-fecha">
                    <div class="dia-numero" id="diaNumero">LUNES 21</div>
                    <div class="mes" id="mes">OCTUBRE</div>
                    <div class="anio" id="anio">2024</div>
                </div>
                <div class="calendario" id="calendario">
                    <div id="mesAnioCalendario" class="mes-anio"></div>
                    <table>
                        <thead>
                            <tr>
                                <th>Lun</th>
                                <th>Mar</th>
                                <th>Mié</th>
                                <th>Jue</th>
                                <th>Vie</th>
                                <th>Sáb</th>
                                <th>Dom</th>
                            </tr>
                        </thead>
                        <tbody id="diasDelMes"></tbody>
                    </table>
                </div>
            </div>
            <div class="hora" id="hora">Hora</div>
        </div>

        <!-- Sección inferior que contiene el clima y el carrusel -->
        <div class="bottom-section">
            <div class="clima-y-carousel">
                <!-- CARRUSEL -->
                <div class="carousel">
                    <h2>Próximos Partidos</h2>
                    <div class="carousel-items">
                        <!-- Sección para mostrar partidos de la Premier League -->
                        <div class="carousel-item" id="premier-league"></div>
                        <!-- Sección para mostrar partidos de la Liga Argentina -->
                        <div class="carousel-item" id="liga-argentina"></div>
                        <!-- Sección para mostrar partidos de la MLS -->
                        <div class="carousel-item" id="mls"></div>
                        <!-- Sección para mostrar partidos de la Copa Libertadores -->
                        <div class="carousel-item" id="libertadores"></div>
                    </div>
                </div>
                
                
                <!-- CLIMA Y PRONOSTICO -->
                <div id="clima" class="clima-container">
                    <div class="clima-rectangulo" id="clima-actual">
                        <h3>Clima Actual</h3>
                        <img id="weather-icon" src="" alt="Icono del clima">
                        <p id="temperature">Temperatura: --°C</p>
                        <p id="humidity">Humedad: --%</p>
                        <p id="condition">Condición: --</p>
                    </div>
                    <div class="clima-rectangulo" id="pronostico-1d">
                        <h3 id="hora-24h">--/--/--</h3>
                        <img id="weather-icon-24h" src="" alt="Icono del clima">
                        <p id="temperature-24h">Temperatura: --°C</p>                        
                        <p id="condition-24h">Condición: --</p>
                    </div>
                    <div class="clima-rectangulo" id="pronostico-2d">
                        <h3 id="hora-48h">--/--/--</h3>
                        <img id="weather-icon-48h" src="" alt="Icono del clima">
                        <p id="temperature-48h">Temperatura: --°C</p>                        
                        <p id="condition-48h">Condición: --</p>
                    </div>
                    <div class="clima-rectangulo" id="pronostico-3d">
                        <h3 id="hora-72h">--/--/--</h3>
                        <img id="weather-icon-72h" src="" alt="Icono del clima">
                        <p id="temperature-72h">Temperatura: --°C</p>                        
                        <p id="condition-72h">Condición: --</p>
                    </div>
                    <div class="clima-rectangulo" id="pronostico-4d">
                        <h3 id="hora-96h">--/--/--</h3>
                        <img id="weather-icon-96h" src="" alt="Icono del clima">
                        <p id="temperature-96h">Temperatura: --°C</p>                        
                        <p id="condition-96h">Condición: --</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cargar el script JavaScript -->
        <script src="{% static 'display/scripts.js' %}"></script>
    </div>
</body>
</html>
